<div class="card">
  <%= link_to(pins_show_path) do %>
  <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
  <div class="card-body text-dark">
    <h5 class="card-title"><%= card_title %></h5>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <% end %>
</div>