<main>
  <div class="container">
    <h1>About PIN-IT</h1>
    <h3>Pin your images</h3>
    <div class="text-justify">
      <p>It's a web site that everybody can share their precious moments as they desire with a title and tag.</p>
      <p>You can see the images and their comments as a visitor but if you would like to comment to an image or upload an image, please feel free to sing up!</p>
      <p>In the home page, you can see most recently uploaded 6 pins from all around.</p>
      <p>If you liked someone else's pin.s, you can save them!</p>
      <p>But if you desire to see what you have pinned or which pins you have saved so far, you can check your 'My Pins' page to see them.</p>
      <p>You pinned something, but you're not happy with the information that you have given for image, title or tags... you can change them in 'edit' section! The 'edit' section is on this pin's page!</p>
    </div>
    <p>Build by Yekta Turan</p>
  </div>
</main>