<main>
   <div class="container mt-5">
     <h1>Edit pin</h1>
     
     <form class="form-group mt-5">
      <label for="inputTitle" class="sr-only">Title</label>
      <input type="text" id="inputTitle" class="form-control" placeholder="Title" autofocus="">
      <label for="inputTag" class="sr-only">Tag</label>
      <input type="text" id="inputTag" class="form-control mt-3" placeholder="Tag">
      
      <div class="d-flex justify-content-start mt-3">
        <label>Pin image</label>
        <input type="file" id="inputImage" class="input-group__field pl-3">
      </div>
      <%= render(partial: 'primary_button', locals: { label: 'Edit Pin' }) %>
    </form>
   </div>
 </main>