<main>
  <div class="container mt-5">
    <h1 class="pl-5">Results for "everything"</h1>

    <div class="container">
      <ul class="row mt-5">
        <% ['title1', 'title2', 'title3', 'title4', 'title5', 'title6'].each do |title|%>
          <li class="list-unstyled col-md-4 col-sm-6">
            <div class="col mb-4">
              <%= render(partial: 'pin_card', locals:{ card_title: title }) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>

