<main>
  <div class="container mt-5 mb-5">
    <h1 class="pl-5">Results for "<%= @search_term %>"</h1>
    <% if (@pins.any?) %>
      <div class="container">
        <ul class="row mt-5 mb-5">
          <% @pins.each do |pin|%>
            <li class="list-unstyled col-md-4 col-sm-6">
              <div class="col mb-4">
                <%= render(partial: 'pin_card', locals:{ pin: pin }) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <h3 class="mt-5 pl-5">No pins found!</h3>
    <% end %>
  </div>
</main>

