<main>
  <div class="container mt-5">
    <h1>About PIN-IT</h1>
    <h3 class="mt-5">Pin your images</h3>
    <div class="text-justify mt-5">
      <p>It's a web site that everybody can share their precious moments or wishes as they desire with a title, tag and image.</p>
      <p>For creating a pin, users don't need to add image and tag but has to add a title. Tag and image are optional. If the user would like to add tag, it's lenght cannot be more than 30 characthers. </p>
      <p>You can see the pins, their details like its creator, created time, tags and their comment.s as a visitor but if you would like to comment a pin or edit the pin or upload a new pin, please feel free to sing up through log in form!</p>
      <p>In the home page, you can see most recently created 6 pins from all users.</p>
      <p>If you liked someone else's pin.s, you can save them via 'favorite' button! Be careful, you cannot favorite a pin more than once!</p>
      <p>When you want to comment on a pin, just go through that pin's page, you will see a comment area that is available just for users. You can add your comment there, don't worry, if you don't have a picture, we have as default and if you didn't enter your name so far, we will publish your comment as 'Unknown' user.</p>
      <p>But if you desire to see what you have favorited or which pins you have saved so far, you can check 'My Pins' page to see them.</p>
      <p>For reaching the 'My Pins' page, 'Favorite' or 'Edit' button of a pin and write a comment, you should be logged in/signed up first!</p>
      <p>You have seen a pin, but you're not happy with its image, title or tags given by its creator or other users... you can change them via 'Edit' button! The 'edit' section is on that pin's page!</p>
      <p>If you would like to search a pin via it's title or tag, just write it down the word you would like to search to the search area and click 'Search' button. It will bring all the pins that you're looking for! </p>

    </div>
    <p>Built by Yekta Turan</p>
  </div>
</main>