<main role="main">
  <div class="container mt-5">
    <h2 class="text-center">Most Recent Pins</h2>
    
    <ul class="row mt-5">
      <% ['title1', 'title2', 'title3', 'title4', 'title5'].each do |title|%>
          <li class="list-unstyled col-md-4 col-sm-6">
            <div class="col mb-4">
              <%= render(partial: 'pin_card', locals:{ card_title: title }) %>
            </div>
          </li>
        <% end %>
    </ul>
  </div>
</main>
